# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Testing / Tooling
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# Secrets
.env

# Data and Artifacts
*.rdb
dump.rdb
valhalla_data/
*.tar
*.log
/tmp/

# OS/System
.DS_Store
Thumbs.db
api/.env